In [46]:
import pandas as pd
from sklearn.svm import LinearSVC
from sklearn.datasets import make_classification
from sklearn.impute import SimpleImputer

In [11]:
base_creditos = pd.read_csv('credit-data.csv')

In [13]:
base_creditos.head() # default 0 = não vai pagar, 1 = vai pagar

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0
1         2  34415.153966  48.117153  6564.745018        0
2         3  57317.170063  63.108049  8020.953296        0
3         4  42709.534201  45.751972  6103.642260        0
4         5  66952.688845  18.584336  8770.099235        1

### limpeza da coluna de idade

In [16]:
# existem N formas de criar um tratamento para esse problema
base_creditos[base_creditos.age < 0]

    clientid        income        age         loan  default
15        16  50501.726689 -28.218361  3977.287432        0
21        22  32197.620701 -52.423280  4244.057136        0
26        27  63287.038908 -36.496976  9595.286289        0

In [27]:
# uma das opção para resolver esse problema é preencher a coluna idade com
# a média das idades dos valores que não estão abaixo de ZERO
idade_media = base_creditos['age'][base_creditos.age > 0].mean()
base_creditos[base_creditos.age < 0] = idade_media

#### Tratamento de valores nulos

In [36]:
base_creditos.loc[pd.isnull(base_creditos['age'])]

    clientid        income  age         loan  default
28      29.0  59417.805406  NaN  2082.625938      0.0
30      31.0  48528.852796  NaN  6155.784670      0.0
31      32.0  23526.302555  NaN  2862.010139      0.0

### Pra facilitar o trabalho manual de limpeza de cada uma das colunas, vamos usar o metodo "SimpleImputer" da lib sklearn

In [43]:
previsores = base_creditos.iloc[:, 1:4].values
classes = base_creditos.iloc[:, 4].values

In [60]:
imputer = SimpleImputer(strategy='mean')
imputer = imputer.fit(previsores[:, 0:3])
previsores[:, 0:3] = imputer.transform(previsores[:, 0:3])

In [59]:
previsores

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])